@import './../../../styles/variables.scss';

header {
    background-color: red;
}

.button {
    color: white;
    padding: 1em;
    background: transparent;
    border: 2px solid $secondary_color;
    border-radius: 10px;
}